.button-main {
  @include generate-button(30px, #fff, $main-color, none);

  &.tiny {
    width: 20%;
    height: 2.5em;
    font-size: 0.7rem;
  }

  &.small {
    width: 33%;
    height: 2.5em;
    font-size: 1rem;
  }

  &.medium {
    width: 40%;
    height: 2.5em;
    font-size: 1rem;
  }

  &.big {
    width: 50%;
    height: 2.5em;
    font-size: 1rem;
  }

  &.large {
    width: 60%;
    height: 2.5em;
    font-size: 1rem;
  }

  &.huge {
    width: 100%;
    height: 2.5em;
    font-size: 1rem;
  }

  &.auto {
    width: auto;
    height: 2.5em;
    font-size: 1rem;
  }

  &.hover-main:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
  }

  &.hover-three:hover {
    background-color: $three-color;
    -webkit-box-shadow: 0px 0px 15px 0px $three-color;
    -moz-box-shadow: 0px 0px 15px 0px $three-color;
    box-shadow: 0px 0px 15px 0px $three-color;
  }
}

.button-save {
  @include generate-button(30px, #fff, $main-color, none);

  margin: 0.5em;

  &.tiny {
    width: 2em;
    height: 2.5em;
    font-size: 0.7rem;
  }

  &.small {
    width: 3em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.medium {
    width: 4em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.big {
    width: 6em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.large {
    width: 8em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.extra_large {
    width: 9.5em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.hover-main:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
  }

  &.hover-three:hover {
    background-color: $three-color;
    -webkit-box-shadow: 0px 0px 15px 0px $three-color;
    -moz-box-shadow: 0px 0px 15px 0px $three-color;
    box-shadow: 0px 0px 15px 0px $three-color;
  }

  &.disabled-black:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
  }
}

.button-cancel-save {
  @include generate-button(30px, $main-color, #fff, $main-color solid 1px);

  margin: 0.5em;

  &.tiny {
    width: 2em;
    height: 2.5em;
    font-size: 0.7rem;
  }

  &.small {
    width: 3em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.medium {
    width: 4em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.big {
    width: 6em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.large {
    width: 9em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.hover-main:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
  }

  &.hover-three:hover {
    color: $three-color;
    border: $three-color solid 1px;
    -webkit-box-shadow: 0px 0px 15px 0px $three-color;
    -moz-box-shadow: 0px 0px 15px 0px $three-color;
    box-shadow: 0px 0px 15px 0px $three-color;
  }

  &.disabled-black:disabled {
    background-color: #fff;
    color: $color-black;
    opacity: 1;
    border: $input-color-border solid 1px;
  }
}

.button-edit {
  @include generate-button(0, green, transparent, transparent solid 1px);
  font-size: 2em;
  margin: 0.2em;

  &.hover-main:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
  }

  &.hover-three:hover {
    color: $three-color;
    border: $three-color solid 1px;
    -webkit-box-shadow: 0px 0px 15px 0px $three-color;
    -moz-box-shadow: 0px 0px 15px 0px $three-color;
    box-shadow: 0px 0px 15px 0px $three-color;
  }

  &.disabled-black:disabled {
    color: $input-color-border  !important;
    opacity: 1;
  }
}

.button-cancel-edit {
  @include generate-button(0, #533893, transparent, transparent solid 1px);
  font-size: 2em;
  margin: 0.2em;

  &.hover-main:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
  }

  &.hover-three:hover {
    color: $three-color;
    border: $three-color solid 1px;
    -webkit-box-shadow: 0px 0px 15px 0px $three-color;
    -moz-box-shadow: 0px 0px 15px 0px $three-color;
    box-shadow: 0px 0px 15px 0px $three-color;
  }

  &.disabled-black:disabled {
    color: $input-color-border  !important;
    opacity: 1;
  }
}

.button-confirm {
  @include generate-button(0, #533893, transparent, transparent solid 1px);
  font-size: 2em;
  margin: 0.2em;

  &.hover-main:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
  }

  &.hover-three:hover {
    color: $three-color;
    border: $three-color solid 1px;
    -webkit-box-shadow: 0px 0px 15px 0px $three-color;
    -moz-box-shadow: 0px 0px 15px 0px $three-color;
    box-shadow: 0px 0px 15px 0px $three-color;
  }

  &.disabled-black:disabled {
    color: $input-color-border !important;
    opacity: 1;
  }
}

.button-delete {
  @include generate-button(0, red, transparent, transparent solid 1px);
  font-size: 2em;
  margin: 0.2em;

  &.hover-main:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
  }

  &.hover-three:hover {
    color: $three-color;
    border: $three-color solid 1px;
    -webkit-box-shadow: 0px 0px 15px 0px $three-color;
    -moz-box-shadow: 0px 0px 15px 0px $three-color;
    box-shadow: 0px 0px 15px 0px $three-color;
  }

  &.disabled-black:disabled {
    color: $input-color-border !important;
    opacity: 1;
  }
}

.button-clean {
  @include generate-button(0, $color-black, transparent, transparent solid 1px);
  font-size: 1.3em;
  margin: 0.2em;

  &.hover-main:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    -moz-box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
    box-shadow: 0px 0px 15px 0px rgba(167, 25, 137, 0.6);
  }

  &.hover-three:hover {
    color: $three-color;
    border: $three-color solid 1px;
    -webkit-box-shadow: 0px 0px 15px 0px $three-color;
    -moz-box-shadow: 0px 0px 15px 0px $three-color;
    box-shadow: 0px 0px 15px 0px $three-color;
  }

  &.disabled-black:disabled {
    background-color: #fff;
    color: $color-black;
    opacity: 1;
    border: $input-color-border solid 1px;
  }
}

.button-tab_save {
  @include generate-button(30px, #fff, $fourth-color, none);

  &.tiny {
    width: 2em;
    height: 2.5em;
    font-size: 0.7rem;
  }

  &.small {
    width: 3em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.medium {
    width: 4em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.big {
    width: 6em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.large {
    width: 9em;
    height: 2.5em;
    font-size: 1rem;
  }

  &.disabled {
    display: none;
  }

  &.hover-three:hover {
    color: #fff;
    border: $fourth-color solid 1px;
    -webkit-box-shadow: 0px 0px 15px 0px $fourth-color;
    -moz-box-shadow: 0px 0px 15px 0px $fourth-color;
    box-shadow: 0px 0px 15px 0px $fourth-color;
  }

  &.invalid {
    @include generate-button(30px, #fff, $input-color-border, none);
    cursor: not-allowed;
  }
}
