@font-face {
  font-family: "MontserratBold";
  src: url("/src/public/fonts//Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratRegular";
  src: url("/src/public/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratBlack";
  src: url("/src/public/fonts/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("/src/public/fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratMedium";
  src: url("/src/public/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RubikMedium";
  src: local("RubikMedium"),
    url("/src/public/fonts/Rubik-Medium.ttf") format("truetype");
}
