.spc-common-table {
  .grid-button {
    font-size: 1.6em;
  }
  .p-paginator {
    padding: 0px;
    .header-information {
      user-select: none;
      margin: 1.2rem 0px 0.25rem 0.25rem;
    }
    .p-paginator-prev .p-paginator-next {
      margin: 0px !important;
    }
  }
  .p-paginator.between {
    justify-content: space-between;
  }
  .p-datatable {
    height: 50vh;
    overflow: auto;

    .p-column-header-content {
      justify-content: center;
    }

    .p-datatable-tbody tr td {
      text-align: center;
    }
  }
  .p-dataview {
    font-size: 14px;
    height: 45vh;
    overflow: auto;
    .card-grid-item {
      margin-top: 1rem;
      margin-bottom: 2rem;
      $width: null;
      $height: null;
      $padding: 0px;
      @include card-component($width, $height, $padding);
      .card-header {
        padding: 20px;
        height: 80%;
        .item-value-container {
          display: flex;
          justify-content: space-between;
          text-align: end;
        }
      }
      .card-footer {
        display: flex;
        justify-content: space-around;
        border-top: solid 1px rgba(0, 0, 0, 0.1607843137);
        padding: 20px;
        height: 20%;
      }
    }
  }
  .table-previus:after {
    content: "Ant";
  }
  .table-next:after {
    content: "Sig";
  }
  table {
    thead {
      display: none;
    }

    tr {
      border: 1px solid #e9e9e9;
    }
  }
}

.spc-table-actions {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .spc-header-title {
    text-align: center;
  }

  .spc-header-subtitles {
    margin: 0;
    letter-spacing: -0.2px;
    color: #5d5d5d;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .spc-table-action-button {
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-right: 30%;
    justify-content: center;

    img {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }
}

.mobile-disabled {
  display: none;
}

.mobile-enabled {
  text-align: center !important;
  overflow-wrap: anywhere;
}

.card-table {
  $width: null;
  $height: null;
  $padding: 20px;
  @include card-component($width, $height, $padding);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1607843137),
    0px 1px 1px rgba(0, 0, 0, 0.160784);
  height: auto;

  .title-area {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 14px;

    .title-button {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;

      img {
        margin-left: 5px;
        width: 22px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1024px) {
  .table-previus:after {
    content: "Anterior" !important;
  }
  .table-next:after {
    content: "Siguiente" !important;
  }
  .spc-common-table {
    .p-paginator {
      justify-content: center;
      gap: 20px;
      .header-information {
        margin: 1.2rem 0px 0.25rem 2.25rem;
      }
    }
    .grid-button {
      font-size: 1.3em;
    }
    table {
      border-collapse: unset;

      thead {
        display: contents;
      }

      tr:nth-child(odd) {
        background-color: #f8f8f8;
      }
    }
  }

  .spc-table-actions {
    height: auto;
    .spc-header-subtitles {
      justify-content: space-evenly;
    }
    .spc-table-action-button {
      margin-right: 0%;
      gap: 30px;
    }
  }

  .mobile-disabled {
    display: revert;
  }

  .mobile-enabled {
    text-align: initial !important;
  }

  .card-table {
    $width: null;
    $height: null;
    $padding: 1.5rem;
    @include card-component($width, $height, $padding);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1607843137),
      0px 1px 1px rgba(0, 0, 0, 0.160784);

    .title-area {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 14px;

      .title-button {
        display: flex;
        align-items: center;
        flex-direction: row;

        img {
          margin-left: 5px;
          width: 22px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
